<!---->
<!---->
<div flex style="height: -webkit-calc(100%)">
  <div ng-view flex layout-fill style="height: 15%">
    <app-header-main-navigation></app-header-main-navigation>
  </div>
  <div ng-view flex layout-fill style="height: 56%;" class="mb-5">
    <app-add-bill-details *ngIf="footerSelectionName == footerSelection.newBill"
                          (billAddedEmit)="billAdded($event)"
    ></app-add-bill-details>
    <app-view-bill-details *ngIf="footerSelectionName == footerSelection.viewBill"
                           [billList]="billList"
                           [footerBtnAction]="actionName"
    ></app-view-bill-details>
  </div>
  <div ng-view flex layout-fill  style="height: 10%;width: 100%" >
    <app-footer-option-list
      [footerSelectionName]="footerSelectionName"
      (btnNameEmit)="footerBtnClick($event)"
    ></app-footer-option-list>
  </div>
</div>
