
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="C.G Product - Logo"
    src='{{imagePath.LOGIN_LOGO}}'
  />
  <span class="align-middle">C.G Products (Pvt.) Ltd.</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <div class="mt-4 w-100">
    <mat-tab-group mat-stretch-tabs >
      <mat-tab>
        <ng-template mat-tab-label>
          <img src='{{imagePath.BILL}}' class="header-navigation-img mr-5" alt = "Test Image" />
          Bill
        </ng-template>
      </mat-tab>
      <mat-tab label="Second">
        <ng-template mat-tab-label>
          <img src='{{imagePath.EXPLOSIVE}}' class="header-navigation-img mr-5" alt = "Test Image" />
          Explosive
        </ng-template>
      </mat-tab>
      <mat-tab label="Third">
        <ng-template mat-tab-label>
          <img src='{{imagePath.EXPENSE}}' class="header-navigation-img mr-5" alt = "Test Image" />
          Expense
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>

